/* Some Cool Stuff */

.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 5;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 6;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 7;
}

.demo-card:nth-child(7) {
  order: 4;
}

@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(even) .point::after, #timeline .demo-card:nth-child(odd) .point::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  #timeline .demo-card:nth-child(even) .point::before, #timeline .demo-card:nth-child(odd) .point::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background: gray;
  }
}

#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 1;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: 1800px;
    margin: 50px 0;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 47.5%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  z-index: 2;
}
@media (min-width: 990px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}

@media (max-width:  1000px){
  .demo-card-wrapper{
  display: none;}
}

@media (min-width: 1000px) {

  #timeline .demo-card {
    max-width: 45%;
    height: 400px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .demo-card:nth-child(odd) {
  }
  #timeline .demo-card:nth-child(odd) .point::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .point::before {
    left: 104.5%;
  }
  #timeline .demo-card:nth-child(even) {
  }
  #timeline .demo-card:nth-child(even) .point::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .point::before {
    right: 104.5%;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .demo-card .point {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .point .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 15px;
  font-size: 35px;
  line-height: 2;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .point h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 2;
}
@media (min-width: 990px) {
  #timeline .demo-card .point h2 {
    line-height: 1.5;
  }
}
#timeline .demo-card .point h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 990px) {
  #timeline .demo-card .point h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .kid {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
  
}
@media (min-width: 1000px) {
  #timeline .demo-card .kid {
    height: 315px;
  }
}
#timeline .demo-card .kid p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .kid img {
  display: block;
  width: auto;
  height: 200px;
  margin: auto;
}
#timeline .demo-card--step1 {
  background-color: #e26e11;
}
#timeline .demo-card--step1 .point::after {
  border-color: #e26e11;
}
#timeline .demo-card--step2 {
  background-color: #0e294b;
}
#timeline .demo-card--step2 .point::after {
  border-color: #0e294b;
}
#timeline .demo-card--step3 {
  background-color: #696969;
}
#timeline .demo-card--step3 .point::after {
  border-color: #696969;
}
#timeline .demo-card--step4 {
  background-color: #e26e11;
}
#timeline .demo-card--step4 .point::after {
  border-color: #e26e11;
}
#timeline .demo-card--step5 {
  background-color: #0e294b;
}
#timeline .demo-card--step5 .point::after {
  border-color: #0e294b;
}

#timeline .demo-card--step6 {
  background-color: #696969;
}

#timeline .demo-card--step7 {
  background-color: #e26e11;
}
#timeline .demo-card--step7 .point::after {
  border-color: #e26e11;
}


/* Some Cool Slider */

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 50px 15px;
  box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(191, 191, 191, 0.4);
}

.slider {
  width: 100%;
  max-width: 600px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  background: white;
}


.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  padding: 100px 0;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;

  transform-origin: center center;
  transform: scale(1);
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border: solid #E5E7E9;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;

}
.slider__nav {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin: 50px;
}

.slider__navlink {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #E5E7E9;
  margin: 0 10px 0 10px;
}
@media (min-width:  1000px){
  .slider-container {
  display: none;}
  .slider__nav {
  display: none;}
}
